:root {
  --background-base: #121212;
  --background-highlight: #1a1a1a;
  --background-press: #000;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #000;
  --text-base: #fff;
  --text-subdued: #a7a7a7;
  --text-bright-accent: #1ed760;
  --text-negative: #f15e6c;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #3d91f4;
}

* {
  margin: 0;
  padding: 0;
  background-color: var(--background-base);
  color: var(--text-base);
  font-family: sans-serif;
}

#root {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-top: 4em;
}

h2 {
  margin-top: 0.5em;
}

button {
  background-color: var(--text-bright-accent);
  border-radius: 500px;
  color: var(--background-base);
  font-size: larger;
  font-weight: bold;
  margin-top: 4em;
  padding: 1em;
}

button:hover {
  background-color: #1fdf64;
  transform: scale(1.04);
}

button:disabled,
button:disabled:hover {
  background-color: var(--text-bright-accent);
  transform: scale(1);
  opacity: 0.7;
}

form input {
  background-color: var(--background-elevated-base);
  font-size: larger;
  padding: 1em;
  border-radius: 500px;
  border: 2px solid var(--text-base);
  margin-right: 1em;
  width: 50%;
  margin-bottom: 2em;
}

form input:focus {
  outline: none;
  border: 2px solid var(--text-bright-accent);
}

h3 {
  margin: 0 5em;
}
